
header {
    background-color:black;
    color: white;
    padding: 5px;
    margin:  5px left;
    grid-column: span 12;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
}
img{
    width: 300px;

    }
 .leftside {
    width: 20%;
    float: left;
 }
 nav ul {
    list-style-type: none; 
    margin:0;
    padding: 0;
  }
nav li {
    padding: 5px;
    margin: 5px;
    width: 5px;
}
nav li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: black;
    display: block;
}
nav li a:hover {
    color: white;
    background-color: rgb(164, 117, 124);
  }
nav li {
    display: inline-block;
    padding: 0;
    margin: 5px;
    width: 180px;
    color: #ffffff;
  }

body { 
    background-color: rgb(164, 117, 124);
    grid-column: span 12px;
}

footer {
    grid-column: span 12;
    border: 2px solid black;
    padding: 30px ;
    margin: 20px ;
    background-color: rgb(164, 117, 124);
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;    
}
#wrapper {
    margin: 24em auto;
    padding: 24px;
    width: 1200px;
    border: 3px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: 200px;
  }
.SkullFlower {
    float: right ;
     padding-right: 5px;
    padding: 15px;
    margin: 5px ;
    background-color: white;
}
.huhgif {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
   }
main {
   float: left;
   margin: 5px;
}
.bottomborder {
    border-bottom: 3px solid black;
}
.text {
    font-family: Georgia, 'Times New Roman', Times, serif
    ;
    text-align: justify;
    font-weight: bold;
}

