/* This is a stylesheet for assignment4.html */

body {
  background-color: #f3f3f7;
  background-image: url(background.jpg);
  font-family: Helvetica;
  
}

nav {
  font-family: Helvetica;
}

main {
  font-family: Helvetica;
}

.headers {
  color: orange;
  font-family:Helvetica;
  font-style: italic;
  font-weight: normal;

}
.fontstuff {
  font-family: Helvetica;

}

.boxmodel {
  border: 10px solid black;
  background-color: yellow;
 padding: 20px;
}

.centeredstuff {
  font-family: Helvetica;
  text-align: center;
}

.justifiedstuff {
  font-family: Helvetica;
  text-align: justify;
}